
#menusPry {
 background-color: rgb(60, 180, 229) !important;
 flex-wrap: wrap;
}
#init{
    background-color: rgb(60, 180, 229) !important;
    border-radius: 2px;
    border-color: rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255) !important;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.navbar-brand, .nav-link{
    color: white !important;
    gap: 1rem;
}
.navbar-brand{
    margin-left: 0.65rem;
}
#admin-cards{
    box-shadow: 0px 0px 10px black;
}
   
@media screen and (max-width: 576px){
    .nav-link{
        margin-left: 0.5rem;
    }
    #admin-cards{
        margin-left: 0.55rem;
        margin-right: 0.55rem;
    }
}
